{% include 'parts/head.njk' %}
<div class="hero cardHero" id="hero">
    <h1 class="hero__title"><span>Urban Data Vis</span><br />Cards</h1>
</div>
{% include 'parts/header.njk' %}
<main class="main" role="main">
    {{ content | safe }}
</main>
{% include 'parts/footer.njk' %}