<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="A card deck for collaborative creation, critique calibration and curation of urban data visualisations">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Urban Data Vis Card Deck (UDV Cards)</title>

  <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />

  <link href="/css/base.css" rel="stylesheet">

  <!-- FACEBOOK -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Urban Data Vis Card Deck (UDV Cards)">
  <meta property="og:image" content="https://cards.cityvis.io/assets/img/socialmedia/{% if image %}{{ image }}{% else %}default@2x.png{% endif %}">
  <meta property="og:description" content="A card deck for collaborative creation, critique calibration and curation of urban data visualisations">
  <meta property="og:site_name" content="Visualizing Cities">

  <!-- TWITTER -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@idpotsdam">
  <meta name="twitter:creator" content="@idpotsdam">
  <meta name="twitter:title" content="Urban Data Vis Card Deck (UDV Cards)">
  <meta name="twitter:description" content="A card deck for collaborative creation, critique calibration and curation of urban data visualisations">
  <meta name="twitter:image" content="https://cards.cityvis.io/assets/img/socialmedia/{% if image %}{{ image }}{% else %}default@2x.png{% endif %}">
</head>

<body>
