<header class="header" role="banner">
  <div class="header__button">Menu</div>
  <a class="header-link" href="https://www.cityvis.io">
    <img class="header__logo" src="/assets/img/city-vis_logo.svg" alt="CityVis">
    <span class="header__title">
      <div>Visualising</div>
      <div>Cities</div>
    </span>
  </a>
  <nav role="navigation">
    <ul class="header__navigation">
      <li class="header__navigation-item">
        <a href="https://cards.cityvis.io/#introduction">Introduction</a>
      </li>
      <li class="header__navigation-item">
        <a href="https://cards.cityvis.io/#instructions">Instructions</a>
      </li>
      <li class="header__navigation-item">
        <a href="https://cards.cityvis.io/#downloads">Downloads</a>
      </li>
      <li class="header__navigation-item">
        <a href="https://cards.cityvis.io/#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
